<html>
  <header>
  </header>
  <body>
    <div class="restaurants">
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant)%> <i><%= restaurant.address %>               <%= link_to "Add review", new_restaurant_review_path(restaurant), class: "btn btn-success"%></i>,</li><br>
        <% end %>
      </ul>
    </div>
  </body>
</html>
